@import url("https://fonts.googleapis.com/css2?family=Dancing Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* min-screen-width = 280px, max-screen-width = 1280px */

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
address {
  font: inherit;
}

/* || VARIABLE */
:root {
  /* COLORS */
  /* Sky Grey Background*/
  --PRIMARY-BGCOLOR: rgba(166, 174, 186, 1);

  /* Dark Blue Color */
  --SECONDARY-COLOR: rgba(31, 43, 65, 1);

  /* Orange Action Color */
  --ACTION-COLOR: rgba(233, 187, 138, 1);

  /* White Main Text */
  --FONT-COLOR: whitesmoke;

  /* Additional Colors */
  --NAV-BGCOLOR: rgba(166, 172, 184, 0.7);
  --FOOTER-FONT-COLOR: #000;

  /* Link Colors */
  --LINK-SHADOW: var(--FONT-COLOR);
  --LINK-COLOR: var(--ACTION-COLOR);
  --LINK-HOVER-BGCOLOR: var(--ACTION-COLOR);
  --LINK-HOVER-COLOR: var(--SECONDARY-COLOR);

  --LINK-NAV-COLOR: var(--SECONDARY-COLOR);
  --LINK-NAV-TEXT-SHADOW: var(--FONT-COLOR);
  --LINK-NAV-BGCOLOR: var(--ACTION-COLOR);
  --LINK-NAV-BGCOLOR-LINK: var(--ACTION-COLOR);
  --LINK-NAV-BGCOLOR-VISITED: var(--ACTION-COLOR);
  --LINK-NAV-BGCOLOR-HOVER: var(--FONT-COLOR);
  --LINK-NAV-BGCOLOR-ACTIVE: var(--FONT-COLOR);

  /* FONTS */
  --FF: "Courgette", cursive;
  --HERO-FF: "Dancing Script", cursive;
  --FAQQ-FF: "Courgette", cursive;
  --FAQA-FF: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --FS: clamp(8px, 4vw, 26px);
  --HERO-H1-FS: clamp(16px, 6vw, 52px);
  --MAIN-H2-FS: calc(var(--FS) * 1.5);
  --MAIN-H3-FS: calc(var(--FS) * 1.3);
  --MAIN-FAQQ-FS: calc(var(--FS) * 1.15);
  --H1-FONT-SHADOW: -1px 3px 5px var(--SECONDARY-COLOR);
  --FONT-SHADOW: -0.1px 0.1px 1px var(--ACTION-COLOR);

  /* BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 10vw;
  --TABLE-BORDER: 1px solid;

  /* STANDARD PADDING */
  --PADDING-TB: 4vh;
  --PADDING-SIDE: 2vw;

  /* MARGIN */
  --MARGIN-TB: 3vh;
  --FOOTER-MARGIN-TB: 5vh;
  --FAQSECTION-MARGIN: calc(var(--MARGIN-TB) / 1.5);
  --FAQQ-MARGIN-TB: calc(var(--MARGIN-TB) * 3);
  --FAQQ-MARGIN-SIDE: calc(var(--MARGIN-TB) * 3 / 2);
  --FAQA-BOTTOM-MARGIN: calc(var(--MARGIN-TB) * 1.5);
  --FAQA-MARGIN-SIDE: calc(var(--MARGIN-TB) * 3 / 2.5);
  --MARGIN-TABLE: var(--FAQA-BOTTOM-MARGIN) auto var(--FAQQ-MARGIN-TB);

  /* Custom Variables */
  --HEADER-NAV-LR-WIDTH: 35vw;
  --MAX-WIDTH: 1280px;
  --MAX-WIDTH-TABLE: 1000px;
}

/* || TABLE || */
table {
  margin: var(--MARGIN-TABLE);
  max-width: var(--MAX-WIDTH-TABLE);
  font-family: var(--FAQA-FF);
}

table,
th,
td {
  border-collapse: collapse;
  border: var(--TABLE-BORDER);
}

/* || HEADER || */
.header {
  position: sticky;
  font-weight: bold;
  top: 0;
  z-index: 1;
  height: 10vh;
  width: 100%;
  font-size: var(--FS);
  background-color: var(--NAV-BGCOLOR);
}

.header__nav {
  height: inherit;
  background-color: var(--NAV-BGCOLOR);
  font-size: var(--FS);
}

.header__nav_left {
  float: left;
  height: inherit;
  width: var(--HEADER-NAV-LR-WIDTH);
}

a {
  text-decoration: none;
  text-shadow: none;
  color: var(--LINK-COLOR);
}

a:hover {
  color: var(--LINK-HOVER-COLOR);
  background-color: var(--LINK-HOVER-BGCOLOR);
}

.header__nav_rsvp {
  display: block;
  float: right;
  text-align: center;
  text-decoration: none;
  height: inherit;
  padding: 4vh 0; /* center rsvp text */
  width: var(--HEADER-NAV-LR-WIDTH);
  color: var(--LINK-NAV-COLOR);
  text-shadow: var(--LINK-NAV-TEXT-SHADOW);
  background-color: var(--LINK-NAV-BGCOLOR);
  border-radius: var(--BORDER-RADIUS) 0;
}

.header__nav_rsvp:link {
  background-color: var(--LINK-NAV-BGCOLOR-LINK);
}

.header__nav_rsvp:visited {
  background-color: var(--LINK-NAV-BGCOLOR-VISITED);
}

.header__nav_rsvp:hover {
  background-color: var(--LINK-NAV-BGCOLOR-HOVER);
}

.header__nav_rsvp:active {
  background-color: var(--LINK-NAV-BGCOLOR-ACTIVE);
}

.hero__container {
  position: relative;
}

.hero__img {
  display: block;
  margin: auto;
  height: auto;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: var(--MAX-WIDTH);
  border-radius: var(--BORDER-RADIUS);
}

.hero__h1 {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-shadow: var(--H1-FONT-SHADOW);
  font-size: var(--HERO-H1-FS);
  font-family: var(--HERO-FF);
  color: var(--FONT-COLOR);
}

/* || BODY || */
h2 {
  font-size: var(--MAIN-H2-FS);
}

body {
  text-align: center;
  background-color: var(--PRIMARY-BGCOLOR);
}

/* || MAIN || */
.main {
  font-family: var(--FF);
  font-size: var(--FS);
  text-shadow: var(--FONT-SHADOW);
  color: var(--FONT-COLOR);
  margin: var(--MARGIN-TB) 0;
}

@media screen and (min-width: 1280px) {
  .main {
    margin-left: calc((100vw - var(--MAX-WIDTH)) / 2);
    margin-right: calc((100vw - var(--MAX-WIDTH)) / 2);
  }
}

.timevenue__article {
  background-color: var(--SECONDARY-COLOR);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.timevenue__datetime_container,
.timevenue__address {
  margin: var(--MARGIN-TB) 0;
}

.timevenue__datetime_container {
  display: flex;
  justify-content: space-evenly;
}

.faq__article {
  background-color: var(--SECONDARY-COLOR);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  margin: var(--MARGIN-TB) 0;
}

.faq__section {
  margin: var(--FAQSECTION-MARGIN);
  border: 1px solid var(--FONT-COLOR);
  border-radius: var(--BORDER-RADIUS);
}

h3 {
  font-size: var(--MAIN-H3-FS);
}

.faq__h3 {
  margin-top: var(--FAQQ-MARGIN-TB);
}

summary {
  cursor: pointer;
  list-style: none;
}

details summary::before {
  content: "+";
  float: right;
  font-size: var(--MAIN-H2-FS);
  transform: rotate(-720deg);
  transition: transform ease 2s;
}

details[open] > summary:before {
  content: "-";
  float: right;
  font-size: var(--MAIN-H2-FS);
  transform: rotate(720deg);
  transition: transform ease 2s;
}

.faq__question {
  margin: var(--FAQQ-MARGIN-TB) var(--FAQQ-MARGIN-SIDE);
  font-family: var(--FAQQ-FF);
  font-weight: bold;
  font-size: var(--MAIN-FAQQ-FS);
  background-color: var(--ACTION-COLOR);
  color: var(--SECONDARY-COLOR);
  padding: var(--PADDING-TB);
  border-radius: var(--BORDER-RADIUS) 0;
}

.faq__answer {
  margin: 0 var(--FAQA-MARGIN-SIDE) var(--FAQA-BOTTOM-MARGIN)
    var(--FAQA-MARGIN-SIDE);
  font-family: var(--FAQA-FF);
}

.faq_parking_method,
.faq_parking_location,
.faq_get2venue {
  list-style-position: inside;
  text-align: left;
}

.faq_parking_method_li,
.faq_parking_location_li,
.faq_get2venue_li,
.faq_discounts_li {
  margin: 0 var(--FAQA-MARGIN-SIDE) var(--FAQA-BOTTOM-MARGIN)
    var(--FAQA-MARGIN-SIDE);
}

.accomodation__article {
  background-color: var(--SECONDARY-COLOR);
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  margin: var(--MARGIN-TB) 0;
}

/* || FOOTER || */
.footer {
  font-family: var(--FF);
  font-size: var(--FS);
  color: var(--FOOTER-FONT-COLOR);
  margin: var(--FOOTER-MARGIN-TB) 0;
}

.footer__back2top {
  padding: 0 2vw;
  background-color: var(--ACTION-COLOR);
  color: var(--SECONDARY-COLOR);
  border-radius: var(--BORDER-RADIUS) 0;
}
